
<section class="bg-white">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Welcome to Science Blog
  </h2>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2">
    <p class="text-gray-600 mb-8">
      Start your blogging journey with SpinaCMS, seamlessly integrated with the modern utility-first CSS framework TailwindCSS for a responsive and stylish design.
    </p>
    </div>
    <div class="w-full md:w-1/2">
    <!-- Image or illustration can go here -->
    </div>
  </div>
</section>

<!-- Features Section -->
<section>
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Posts
  </h2>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/3 px-2 mb-4">
      <div class="bg-white rounded shadow py-2">
        <h3 class="text-center text-gray-700 text-xl font-bold mb-2">Easy to Use</h3>
        <p class="text-center text-gray-600 text-base">
          Manage your content with an easy-to-use interface and powerful editing tools.
        </p>
      </div>
    </div>
    <div class="w-full md:w-1/3 px-2 mb-4">
      <div class="bg-white rounded shadow py-2">
        <h3 class="text-center text-gray-700 text-xl font-bold mb-2">Responsive Design</h3>
        <p class="text-center text-gray-600 text-base">
          A mobile-friendly design that looks great on any device.
        </p>
      </div>
    </div>
    <div class="w-full md:w-1/3 px-2 mb-4">
      <div class="bg-white rounded shadow py-2">
        <h3 class="text-center text-gray-700 text-xl font-bold mb-2">Customizable Themes</h3>
        <p class="text-center text-gray-600 text-base">
          Customize the appearance to match your style with TailwindCSS.
        </p>
      </div>
    </div>
  </div>
</section>
